{%- comment -%}
  Checkout Modal Snippet
  Add this to your Dawn theme: Snippets > checkout-modal.liquid
  Then in theme.liquid, add before </body>:
    {% render 'checkout-modal' %}
{%- endcomment -%}

<script src="{{ 'checkout-modal.js' | asset_url }}" defer></script>
